<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>First Expression</title>
	<meta charset="utf-8" />
</head>
<body>
    <div ng-app="">
        <h1>AngularJS Expressions</h1>
        <label>Number 1:</label>
        <input type="number" ng-model="num1"/><br/><br/>
        <label>Number 2:</label>
        <input type="number" ng-model="num2"/>
        <h2>addition of 2 numbers is {{num1 + num2}}</h2>
        <h2>subtraction of 2 numbers is {{num1 - num2}}</h2>
        <h2>multiplication of 2 numbers is {{num1 * num2}}</h2>
        <h2>division of 2 numbers is {{num1 / num2}}</h2>
        <h2>modulas of 2 numbers is {{num1 % num2}}</h2>
    </div>
</body>
</html>
