<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>controller using external JS</title>
	<meta charset="utf-8" />
    <script src="Scripts/myApp7.js"></script>
    <script src="Scripts/myCtrl7.js"></script>
</head>
<body>
    <div ng-app="myApp7" ng-controller="myCtrl7">
        <h1>AngularJS ng-model Directive - Two-Way Binding by external JS</h1>
        <label>First Name:</label>
        <input type="text" ng-model="fname" /><br /><br />
        <label>Last Name:</label>
        <input type="text" ng-model="lname" />
        <h2> {{fname + " " + lname}}</h2>
    </div>
</body>
</html>
