<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Add Item</title>
	<meta charset="utf-8" />
</head>
<body>
    <div ng-app="shopApp" ng-controller="shopCtrl">
        <h1>Add your products in the list</h1>
        <ul ng-repeat="i in list">
            <li>{{i}}</li>
        </ul>

        <input type="text" ng-model="item"/>
        <button ng-click="addItem()">ADD</button>
    </div>

    <script>
        var app = angular.module("shopApp", []);
        app.controller("shopCtrl", function ($scope) {
            $scope.list = ['milk', 'egg', 'bread'];
            $scope.addItem = function () {
                $scope.list.push($scope.item);
            }
        });
    </script>
</body>
</html>
